In [2]:
# code to programatically extract county level unemployment numbers from St. Louis FED
#https://fred.stlouisfed.org/docs/api/fred/
#install the python library to extract data

#!pip install fredapi

In [3]:
import boto3
import pickle
import pandas as pd

# Replace with your S3 bucket name and key
s3_bucket = 'dsvecondata'
s3_key = 'Unemployment/df_unemp_raw.pkl'

# Initialize the S3 client
s3_client = boto3.client('s3')

# Specify a local file path to download the data
local_file_path = 'df_unemp_raw.pkl'

# Download the pickled data from S3 to your local file
s3_client.download_file(s3_bucket, s3_key, local_file_path)

# Load the pickled data into a Python object
with open(local_file_path, 'rb') as file:
    data = pickle.load(file)

# Now, 'data' contains the loaded data from the S3 location

In [5]:
data.head()

  realtime_start realtime_end        date  value          id
0     2023-01-27   2023-01-27  1990-01-01  0.700  AKALEU0URN
1     2023-01-27   2023-01-27  1990-02-01  0.600  AKALEU0URN
2     2023-01-27   2023-01-27  1990-03-01    0.7  AKALEU0URN
3     2023-01-27   2023-01-27  1990-04-01  0.700  AKALEU0URN
4     2023-01-27   2023-01-27  1990-05-01    0.7  AKALEU0URN

In [6]:
# In order to run this code you need to get your own API key from
#https://fredaccount.stlouisfed.org/apikeys

#After creating an account, navigate to "My Account" section, then click API Keys. Request an API Key there.

In [7]:
from fredapi import Fred
fred = Fred(api_key='c1bd04f342c5757f2149c801f0505f3f') #please enter your API key

In [8]:
#### Try to get using only one library

In [11]:
!pip install full-fred

Collecting full-fred
  Downloading full_fred-0.0.9a3-py3-none-any.whl (47 kB)
     ---------------------------------------- 47.6/47.6 kB 1.2 MB/s eta 0:00:00
Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from full-fred) (1.5.3)
Requirement already satisfied: requests in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from full-fred) (2.28.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pandas->full-fred) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pandas->full-fred) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pandas->full-fred) (1.23.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from requests->full-fred) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from requests->full-fred) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from requests->full-fred) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from requests->full-fred) (2022.12.7)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas->full-fred) (1.16.0)
Installing collected packages: full-fred
Successfully installed full-fred-0.0.9a3

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
from full_fred.fred import Fred

fred = Fred('example.txt')

fred.get_api_key_file()

'example.txt'

In [13]:
fred.set_api_key_file('example.txt')

True

In [14]:
#Instructions on how to setup this request is written below
#https://fred.stlouisfed.org/docs/api/fred/series_search.html
#
url_base = "https://api.stlouisfed.org/fred/series/search?search_text=*URN&search_type=series_id&api_key=d9a556388442a4822a82c8612e70577c&tag_name=unemployment;bls;county;usa;nsa&file_type=json"

#url_base='https://api.stlouisfed.org/fred/series/search?search_text=*URN&search_type=series_id&api_key=d9a556388442a4822a82c8612e70577c&tag_name=unemployment;bls;county;usa;nsa&file_type=json'

In [15]:
import requests
import pandas as pd
import numpy as np
import time

In [16]:
## code to get list of all the series id that contains county level unemployment. note that this only the master list of series ids, we still need to pull the actual unemployment data seperately

df_all=pd.DataFrame()
for n in range(0,5000,1000):
    #url_set='&offset='+str(n)+'&tag_name=unemployment;bls;county;usa;nsa&file_type=json'
    url_set="&offset="+str(n)
    url="".join([url_base, url_set])
    print("".join([url_base, url_set]))
    r = requests.get(url)
    df_and_metadata=r.json()
    df = pd.DataFrame(df_and_metadata['seriess'])
    df_all=pd.concat([df_all, df])
    print(df.shape)
    print(df_all.shape)

https://api.stlouisfed.org/fred/series/search?search_text=*URN&search_type=series_id&api_key=d9a556388442a4822a82c8612e70577c&tag_name=unemployment;bls;county;usa;nsa&file_type=json&offset=0
(1000, 16)
(1000, 16)
https://api.stlouisfed.org/fred/series/search?search_text=*URN&search_type=series_id&api_key=d9a556388442a4822a82c8612e70577c&tag_name=unemployment;bls;county;usa;nsa&file_type=json&offset=1000
(1000, 16)
(2000, 16)
https://api.stlouisfed.org/fred/series/search?search_text=*URN&search_type=series_id&api_key=d9a556388442a4822a82c8612e70577c&tag_name=unemployment;bls;county;usa;nsa&file_type=json&offset=2000
(1000, 16)
(3000, 16)
https://api.stlouisfed.org/fred/series/search?search_text=*URN&search_type=series_id&api_key=d9a556388442a4822a82c8612e70577c&tag_name=unemployment;bls;county;usa;nsa&file_type=json&offset=3000
(601, 16)
(3601, 16)
https://api.stlouisfed.org/fred/series/search?search_text=*URN&search_type=series_id&api_key=d9a556388442a4822a82c8612e70577c&tag_name=unemployment;bls;county;usa;nsa&file_type=json&offset=4000
(0, 0)
(3601, 16)

In [17]:
df_all

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,group_popularity,notes
0,ABIL148URN,2023-09-12,2023-09-12,"Unemployment Rate in Abilene, TX (MSA)",1990-01-01,2023-07-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-08-30 10:16:47-05,2,2,NaN
1,AKALEU0URN,2023-09-12,2023-09-12,Unemployment Rate in Aleutians West Census Are...,1990-01-01,2023-07-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-08-30 10:13:54-05,1,1,These data come from the Current Population Su...
2,AKALEU3URN,2023-09-12,2023-09-12,"Unemployment Rate in Aleutians East Borough, AK",1990-01-01,2023-07-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-08-30 10:15:17-05,1,1,These data come from the Current Population Su...
3,AKANCH0URN,2023-09-12,2023-09-12,Unemployment Rate in Anchorage Borough/municip...,1990-01-01,2023-07-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-08-30 10:10:02-05,1,1,These data come from the Current Population Su...
4,AKBETH0URN,2023-09-12,2023-09-12,"Unemployment Rate in Bethel Census Area, AK",1990-01-01,2023-07-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-08-30 10:13:54-05,1,1,These data come from the Current Population Su...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,YAKI453URN,2023-09-12,2023-09-12,"Unemployment Rate in Yakima, WA (MSA)",1990-01-01,2023-07-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-08-30 10:15:17-05,1,1,NaN
597,YORK642URN,2023-09-12,2023-09-12,"Unemployment Rate in York-Hanover, PA (MSA)",1990-01-01,2023-07-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-08-30 10:07:43-05,1,1,NaN
598,YOUN639URN,2023-09-12,2023-09-12,Unemployment Rate in Youngstown-Warren-Boardma...,1990-01-01,2023-07-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-08-30 10:24:08-05,4,4,NaN
599,YUBA706URN,2023-09-12,2023-09-12,"Unemployment Rate in Yuba City, CA (MSA)",1990-01-01,2023-07-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-08-30 10:30:34-05,0,1,NaN
600,YUMA704URN,2023-09-12,2023-09-12,"Unemployment Rate in Yuma, AZ (MSA)",1990-01-01,2023-07-01,Monthly,M,Percent,%,Not Seasonally Adjusted,NSA,2023-08-30 10:07:29-05,3,3,NaN

In [7]:
#df_all.reset_index(inplace=True)

In [18]:
## our web request pulls MSA information so we drop them
msa_drop=df_all.loc[df_all.title.str.contains("(MSA)")==True].index
msa_drop

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9352\1902227.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  msa_drop=df_all.loc[df_all.title.str.contains("(MSA)")==True].index

Int64Index([  0,  20,  31,  32,  37,  61,  74,  97, 104, 105,
            ...
            445, 473, 474, 482, 483, 596, 597, 598, 599, 600],
           dtype='int64', length=347)

In [19]:
df_all.drop(msa_drop,inplace=True)

In [20]:
df_all.shape

(2457, 16)

In [21]:
## our web request pulls discontinued data series  so we drop them


disc_drop=df_all.loc[df_all.title.str.contains("(DISCONTINUED)")==True].index
disc_drop

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9352\2897390250.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  disc_drop=df_all.loc[df_all.title.str.contains("(DISCONTINUED)")==True].index

Int64Index([ 26, 218, 219, 220, 221, 222, 223, 224, 225, 423, 425, 453, 454,
            455, 456, 460, 461, 677, 241],
           dtype='int64')

In [22]:
df_all.drop(disc_drop,inplace=True)

In [23]:
df_all.shape

(2382, 16)

In [24]:
## our web request pulls some other irrelevant data series  so we drop them
df_all.dropna(subset=['notes'],inplace=True)

In [25]:
df_all.shape

(2324, 16)

In [26]:
list(df_all)

['id',
 'realtime_start',
 'realtime_end',
 'title',
 'observation_start',
 'observation_end',
 'frequency',
 'frequency_short',
 'units',
 'units_short',
 'seasonal_adjustment',
 'seasonal_adjustment_short',
 'last_updated',
 'popularity',
 'group_popularity',
 'notes']

In [17]:
#df_all

In [27]:
df_all.to_csv('all.titles_final.csv')

In [29]:
id_list=df_all['id'].to_list()

In [30]:
len(id_list)

2324

In [21]:
## this is another python library to pull data from FRED

In [32]:
from full_fred.fred import Fred
## example_key.txt contains the API key
fred = Fred('example.txt')

fred.get_api_key_file()

'example.txt'

In [34]:
fred.set_api_key_file('example.txt')

True

In [35]:
len(id_list)

2324

In [36]:
## this pull takes very long. note that I don't pull all 3138 series at once since the web request has a limit. therefore it waits for 200 seconds after pulling 100 series at a time

inc=100
df_unemp_raw=pd.DataFrame()
for j in range(0,len(id_list),inc):
    time.sleep(50)
    for i in id_list[j:j+inc-1]:
        #print(i)
        df_temp=fred.get_series_df(i)
        df_temp['id']=str(i)  
        df_unemp_raw=pd.concat([df_unemp_raw,df_temp])
        df_unemp_raw.shape

KeyboardInterrupt:

In [29]:
#df_unemp_raw.head(400)
#df_unemp_raw.shape

In [30]:
## saving the data to ensure I keep a copy of it
df_unemp_raw.to_pickle('df_unemp_raw.pkl')

In [37]:
df_unemp_raw=pd.read_pickle('df_unemp_raw.pkl')

In [38]:
df_unemp_raw

    realtime_start realtime_end        date  value          id
0       2023-01-27   2023-01-27  1990-01-01  0.700  AKALEU0URN
1       2023-01-27   2023-01-27  1990-02-01  0.600  AKALEU0URN
2       2023-01-27   2023-01-27  1990-03-01    0.7  AKALEU0URN
3       2023-01-27   2023-01-27  1990-04-01  0.700  AKALEU0URN
4       2023-01-27   2023-01-27  1990-05-01    0.7  AKALEU0URN
..             ...          ...         ...    ...         ...
390     2023-01-27   2023-01-27  2022-07-01    2.2  WYWEST5URN
391     2023-01-27   2023-01-27  2022-08-01    2.2  WYWEST5URN
392     2023-01-27   2023-01-27  2022-09-01    2.1  WYWEST5URN
393     2023-01-27   2023-01-27  2022-10-01    2.2  WYWEST5URN
394     2023-01-27   2023-01-27  2022-11-01    2.1  WYWEST5URN

[1226875 rows x 5 columns]

In [39]:
## create the state column by the information contained in title column
df_all['State']=df_all['title'].str.slice(start=-2)

In [33]:
#df_unemp_raw.reset_index(drop=True)

In [40]:
df_unemp_raw = df_unemp_raw.assign(Index=range(len(df_unemp_raw))).set_index('Index')

In [41]:
df_all['County']=df_all['title'].str.replace('Unemployment Rate in ','')

In [42]:
df_all['County']=df_all['County'].str.replace(' County','')

In [43]:
## create the county column by the information contained in title column; note that it requires a lot of string operations

df_all['County']=df_all['County'].str.slice(stop=-4)

In [44]:
## Well, DC needs its own manual setting

df_all.loc[(df_all.County == 'the District of Colu'),'County']='DC'

In [45]:
#df_all['County']

In [46]:
list(df_all)

['id',
 'realtime_start',
 'realtime_end',
 'title',
 'observation_start',
 'observation_end',
 'frequency',
 'frequency_short',
 'units',
 'units_short',
 'seasonal_adjustment',
 'seasonal_adjustment_short',
 'last_updated',
 'popularity',
 'group_popularity',
 'notes',
 'State',
 'County']

In [47]:
df_all.shape

(2324, 18)

In [48]:
## merge county and state information from master series id list to the actual unemployment data. we are going to need that information to find the county FIPS code.
##FIPS code is unique to each county and it will help us to merge it with 3-digit zip code 
df_unemp=df_unemp_raw.merge(df_all[['id','County','State']], how='left',on=['id'],indicator=True)

In [49]:
df_unemp.shape

(1226875, 8)

In [50]:
## check if we correctly merged all series id with the corresponding County and State
print(df_unemp.loc[df_unemp['_merge']=='left_only'])

        realtime_start realtime_end        date value          id County  \
7110        2023-01-27   2023-01-27  1990-01-01  17.8  AKPRIN1URN    NaN
7111        2023-01-27   2023-01-27  1990-02-01  17.0  AKPRIN1URN    NaN
7112        2023-01-27   2023-01-27  1990-03-01  13.4  AKPRIN1URN    NaN
7113        2023-01-27   2023-01-27  1990-04-01  12.1  AKPRIN1URN    NaN
7114        2023-01-27   2023-01-27  1990-05-01  11.2  AKPRIN1URN    NaN
...                ...          ...         ...   ...         ...    ...
1222525     2023-01-27   2023-01-27  2022-07-01   2.6  WYLINC3URN    NaN
1222526     2023-01-27   2023-01-27  2022-08-01   2.7  WYLINC3URN    NaN
1222527     2023-01-27   2023-01-27  2022-09-01   2.8  WYLINC3URN    NaN
1222528     2023-01-27   2023-01-27  2022-10-01   2.8  WYLINC3URN    NaN
1222529     2023-01-27   2023-01-27  2022-11-01   3.0  WYLINC3URN    NaN

        State     _merge
7110      NaN  left_only
7111      NaN  left_only
7112      NaN  left_only
7113      NaN  left_only
7114      NaN  left_only
...       ...        ...
1222525   NaN  left_only
1222526   NaN  left_only
1222527   NaN  left_only
1222528   NaN  left_only
1222529   NaN  left_only

[317605 rows x 8 columns]

In [51]:
df_unemp.drop('_merge',axis=1,inplace=True)

In [46]:
#df_unemp.drop('FIPS',axis=1,inplace=True)

In [52]:
list(df_unemp)

['realtime_start', 'realtime_end', 'date', 'value', 'id', 'County', 'State']

In [53]:
## this is county to FIPS dataset I downloaded from the web. It is very tedious to ensure the county name from FRED matches with the county names you download from another data source. if you want to do it yourself here is the 
## webpage I downloaded it
## https://github.com/kjhealy/fips-codes/blob/master/state_and_county_fips_master.csv
county_fips=pd.read_csv('state_and_county_fips_master.csv',dtype={'FIPS':'str'}) #Please enter your path

In [54]:
list(county_fips)

['fips', 'name', 'state']

In [55]:
county_fips.rename(columns={'state': 'State'}, inplace=True)

In [56]:
county_fips.head(10)

   fips            name State
0     0   UNITED STATES   NaN
1  1000         ALABAMA   NaN
2  1001  Autauga County    AL
3  1003  Baldwin County    AL
4  1005  Barbour County    AL
5  1007     Bibb County    AL
6  1009   Blount County    AL
7  1011  Bullock County    AL
8  1013   Butler County    AL
9  1015  Calhoun County    AL

In [57]:
county_fips["fips"].value_counts(dropna=False)

0        1
39085    1
39089    1
39091    1
39093    1
        ..
21111    1
21113    1
21115    1
21117    1
56045    1
Name: fips, Length: 3195, dtype: int64

In [58]:
county_fips['Name']= county_fips['name'].str.replace(' County','')

In [59]:
county_fips['FIPS']=county_fips['fips'].astype(str).str.pad(width=5, side='left', fillchar='0')

In [60]:
county_fips.rename(columns={'Name':'County'}, inplace=True)

In [61]:
list(county_fips)

['fips', 'name', 'State', 'County', 'FIPS']

In [62]:
list(df_unemp)

['realtime_start', 'realtime_end', 'date', 'value', 'id', 'County', 'State']

In [21]:
#df_unemp.drop(['FIPS','_merge'],axis=1,inplace=True)

In [63]:
## add the county FIPS code to our unemployment data 

df_unemp= df_unemp.merge(county_fips, how='left',on=['County','State'], indicator=True)

In [64]:
df_unemp.shape

(1226875, 11)

In [61]:
#print(df_unemp.loc[df_unemp['_merge']=='left_only'])

In [65]:
df_nomatch=df_unemp[['County','State']].loc[df_unemp['_merge']=='left_only']

In [66]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [67]:
print(df_nomatch.value_counts())

County                             State
Anchorage Borough/municipality     AK       395
Salem City                         VA       395
Martinsville City                  VA       395
Petersburg City                    VA       395
Philadelphia/City                  PA       395
Poquoson City                      VA       395
Portsmouth City                    VA       395
Radford City                       VA       395
Richmond City                      VA       395
Roanoke City                       VA       395
San Francisco/City                 CA       395
Bristol City                       VA       395
Sitka Borough/City                 AK       395
St. Louis City                     MO       395
Staunton City                      VA       395
Suffolk City                       VA       395
Virginia Beach City                VA       395
Waynesboro City                    VA       395
Williamsburg City                  VA       395
Winchester City                    VA       395
Manassas City                      VA       395
Lynchburg City                     VA       395
Lexington City                     VA       395
Juneau Borough/City                AK       395
Broomfield/City                    CO       395
Buena Vista City                   VA       395
Charlottesville City               VA       395
Chesapeake City                    VA       395
Colonial Heights City              VA       395
Covington City                     VA       395
Danville City                      VA       395
Denver/City                        CO       395
Dona Ana                           NM       395
Emporia City                       VA       395
Fairfax City                       VA       395
Falls Church City                  VA       395
Franklin City                      VA       395
Fredericksburg City                VA       395
Galax City                         VA       395
Hampton City                       VA       395
Harrisonburg City                  VA       395
Hopewell City                      VA       395
Wrangell-Petersburg Census Area    AK       252
Skagway-Hoonah-Angoon Census Area  AK       240
dtype: int64

In [68]:
list(df_unemp)

['realtime_start',
 'realtime_end',
 'date',
 'value',
 'id',
 'County',
 'State',
 'fips',
 'name',
 'FIPS',
 '_merge']

In [69]:
## this is the STARTING dataset that we will use to merge with our modeling dataset 

df_unemp.to_pickle('unemp_county_shrt.pkl')

ZIP Codes are collections of mail delivery routes that the USPS uses to organize and expedite mail delivery. County FIPS Codes on the other hand are a five-digit number used to designate a specific county. A county will always be assigned a single FIPS code but the county may contain dozens of ZIP Codes.

U.S. ZIP Code Three-Digit Areas represents the first three digits of a ZIP Code. The first digit of a five-digit ZIP Code divides the United States into 10 large groups of states (or equivalent areas) numbered from 0 in the Northeast to 9 in the far West. Within these areas, each state is divided into an average of 10 smaller geographical areas, identified by the second and third digits. These digits, in conjunction with the first digit, represent a Sectional Center Facility (SCF) or a mail processing facility area. These areas are serviced by the U.S. Post Office SCFs. Note that a single SCF often services multiple three-digit areas.

In [70]:
## note that this dataset only has FIPS code, in order to merge with model data we need to map it to zip3 
## you can only find 5 digit zip to county mapping but not 3 digit zip mapping
## in order to find the mapping we are going to use mean of geographical latitude and longtitude of all the 5 digit zips and find the county that belongs to
## I downloaded the file below from here
## https://www.huduser.gov/portal/datasets/usps_crosswalk.html
## You need to create an account on the website first. Then install COUNTY-ZIP recent data.

zip_fips=pd.read_excel('COUNTY_ZIP_122021.xlsx',dtype={'zip':'str','county':'str'})

In [71]:
zip_fips.head()

,county,zip,usps_zip_pref_city,usps_zip_pref_state,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,72005,00605,AGUADILLA,PR,0.149651,0.192262,0.005155,0.149201
1,72017,00617,BARCELONETA,PR,0.994895,1.000000,1.000000,0.995245
2,72051,00646,DORADO,PR,0.941830,0.994748,0.985401,0.945286
3,72083,00670,LAS MARIAS,PR,1.000000,1.000000,1.000000,1.000000
4,72035,00736,CAYEY,PR,0.818613,0.886840,0.990385,0.824670

In [74]:
## make them 5 digit with adding trailing zeros 
zip_fips['zip']= zip_fips['zip'].apply(str).str.pad(width=5, side='left', fillchar='0') # apply(str) required for error handling

In [75]:
zip_fips['county']= zip_fips['county'].apply(str).str.pad(width=5, side='left', fillchar='0')

In [76]:
zip_fips['zip3']=zip_fips['zip'].str.slice(stop=-2)

In [77]:
zip_fips.rename(columns={'county':'FIPS'}, inplace=True)

In [78]:
#zip_fips

In [79]:
## this library finds the latitude and longtitude fiven a 5 digit zip code

! pip install --upgrade uszipcode

Collecting uszipcode
  Downloading uszipcode-1.0.1-py2.py3-none-any.whl (35 kB)
Requirement already satisfied: attrs in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from uszipcode) (22.2.0)
Requirement already satisfied: requests in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from uszipcode) (2.28.2)
Collecting pathlib-mate
  Downloading pathlib_mate-1.2.1-py2.py3-none-any.whl (121 kB)
     -------------------------------------- 121.5/121.5 kB 7.0 MB/s eta 0:00:00
Collecting atomicwrites
  Downloading atomicwrites-1.4.1.tar.gz (14 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Collecting haversine>=2.5.0
  Downloading haversine-2.8.0-py2.py3-none-any.whl (7.7 kB)
Requirement already satisfied: SQLAlchemy>=1.4.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from uszipcode) (2.0.5.post1)
Collecting sqlalchemy-mate>=1.4.28.3
  Downloading sqlalchemy_mate-1.4.28.4-py2.py3-none-any.whl (77 kB)
     ---------------------------------------- 77.1/77.1 kB 4.2 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy>=1.4.0->uszipcode) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy>=1.4.0->uszipcode) (2.0.2)
Collecting SQLAlchemy>=1.4.0
  Downloading SQLAlchemy-1.4.49-cp311-cp311-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 14.4 MB/s eta 0:00:00
Requirement already satisfied: prettytable in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy-mate>=1.4.28.3->uszipcode) (3.6.0)
Requirement already satisfied: six in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from pathlib-mate->uszipcode) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from requests->uszipcode) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from requests->uszipcode) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from requests->uszipcode) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from requests->uszipcode) (2022.12.7)
Requirement already satisfied: wcwidth in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from prettytable->sqlalchemy-mate>=1.4.28.3->uszipcode) (0.2.6)
Building wheels for collected packages: atomicwrites
  Building wheel for atomicwrites (setup.py): started
  Building wheel for atomicwrites (setup.py): finished with status 'done'
  Created wheel for atomicwrites: filename=atomicwrites-1.4.1-py2.py3-none-any.whl size=6974 sha256=26f71972e1205b40637f5160736331ded59c6a44ba8afe0c67c9febcec9d866a
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\aa\b3\bd\8b0687745a55eaa46dd68a41bd805a25c260a361079229a9d7
Successfully built atomicwrites
Installing collected packages: fuzzywuzzy, SQLAlchemy, haversine, atomicwrites, sqlalchemy-mate, pathlib-mate, uszipcode
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.5.post1
    Uninstalling SQLAlchemy-2.0.5.post1:
      Successfully uninstalled SQLAlchemy-2.0.5.post1
Successfully installed SQLAlchemy-1.4.49 atomicwrites-1.4.1 fuzzywuzzy-0.18.0 haversine-2.8.0 pathlib-mate-1.2.1 sqlalchemy-mate-1.4.28.4 uszipcode-1.0.1

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.49 which is incompatible.

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [80]:
from uszipcode import SearchEngine
search=SearchEngine()

C:\Users\LENOVO\AppData\Local\Programs\Python\Python311\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

Download C:\Users\LENOVO\.uszipcode\simple_db.sqlite from https://github.com/MacHu-GWU/uszipcode-project/releases/download/1.0.1.db/simple_db.sqlite ...
  1.00 MB downloaded ...
  2.00 MB downloaded ...
  3.00 MB downloaded ...
  4.00 MB downloaded ...
  5.00 MB downloaded ...
  6.00 MB downloaded ...
  7.00 MB downloaded ...
  8.00 MB downloaded ...
  9.00 MB downloaded ...
  10.00 MB downloaded ...
  11.00 MB downloaded ...
  Complete!

In [81]:
zip_list=zip_fips['zip'].to_list()

In [82]:
zip_list_loc=[]
for i in zip_list:
    zipcode = search.by_zipcode(int(i))
    zip_list_loc.append({'Zipcode': i,'Latitude': zipcode.lat,'Longitude':zipcode.lng,'ZIP_3':i[:3]})

In [83]:
#zip_list_loc

In [84]:

## convert the dictionary to pandas data frame and the mean lat and long for all of the 5 digit zipcodes that has the first 3 digits the same ie. 22101, 22102 will be grouped as 221
allzipcodes=pd.DataFrame.from_dict(zip_list_loc)

all3zipcodes=allzipcodes.groupby(['ZIP_3']).mean().reset_index()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9352\2879214969.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  all3zipcodes=allzipcodes.groupby(['ZIP_3']).mean().reset_index()

In [85]:
list(all3zipcodes)

['ZIP_3', 'Latitude', 'Longitude']

In [86]:
import requests
import urllib
from urllib.parse import urlencode, quote_plus

In [87]:
## function to get the county level FIPS code given lat and long

def FIPS_finder(lat,lon):
    params = urlencode({'latitude': lat, 'longitude':lon, 'format':'json'})
    #Contruct request URL
    url = 'https://geo.fcc.gov/api/census/block/find?' + params

    #Get response from API
    response = requests.get(url)
    data = response.json()
    return data['County']['FIPS']

In [88]:
## numpy's vectorize function is very effcient when you are applying lambda functions

In [89]:
all3zipcodes['FIPS']=np.vectorize(FIPS_finder)(all3zipcodes['Latitude'],all3zipcodes['Longitude'])

In [90]:
## now our dataset is ready to merge with the model data
## first we will use this dataset to find the FIPS code for a given ZIP3
## then we will use that FIPS code to find the unemployment

#all3zipcodes

In [91]:
all3zipcodes.to_pickle('zip3_fips_lookup.pkl')

In [8]:
import pickle

# Specify the filename of the pickle file
pickle_file = 'unemp_county_shrt.pkl'

try:
    # Open the pickle file in binary read mode
    with open(pickle_file, 'rb') as file:
        # Load the data from the pickle file
        data1 = pickle.load(file)

    # Now 'data' contains the contents of the pickle file
    print("Data loaded successfully!")
    
    # You can use 'data' as needed
    # For example, you can print it to see its contents
    print(data)

except FileNotFoundError:
    print(f"Error: The file '{pickle_file}' was not found.")
except Exception as e:
    print(f"An error occurred: {e}")

Data loaded successfully!
    ZIP_3   Latitude   Longitude   FIPS
0     005  40.810000  -73.040000  36103
1     006  18.300396  -66.791485  72141
2     007  18.179320  -66.071845  72025
3     008  18.141111  -64.855556   None
4     009  18.394138  -66.094914  72127
..    ...        ...         ...    ...
906   995  60.362319 -154.827826  02164
907   996  60.243256 -156.864651  02070
908   997  65.762025 -153.448608  02290
909   998  57.914667 -134.912000  02105
910   999  55.691667 -132.166667  02275

[911 rows x 4 columns]

In [9]:
data1

,realtime_start,realtime_end,date,value,id,County,State,fips,name,FIPS,_merge
0,2023-01-27,2023-01-27,1990-01-01,0.700,AKALEU0URN,Aleutians West Census Area,AK,2016.0,Aleutians West Census Area,02016,both
1,2023-01-27,2023-01-27,1990-02-01,0.600,AKALEU0URN,Aleutians West Census Area,AK,2016.0,Aleutians West Census Area,02016,both
2,2023-01-27,2023-01-27,1990-03-01,0.7,AKALEU0URN,Aleutians West Census Area,AK,2016.0,Aleutians West Census Area,02016,both
3,2023-01-27,2023-01-27,1990-04-01,0.700,AKALEU0URN,Aleutians West Census Area,AK,2016.0,Aleutians West Census Area,02016,both
4,2023-01-27,2023-01-27,1990-05-01,0.7,AKALEU0URN,Aleutians West Census Area,AK,2016.0,Aleutians West Census Area,02016,both
...,...,...,...,...,...,...,...,...,...,...,...
1226870,2023-01-27,2023-01-27,2022-07-01,2.2,WYWEST5URN,Weston,WY,56045.0,Weston County,56045,both
1226871,2023-01-27,2023-01-27,2022-08-01,2.2,WYWEST5URN,Weston,WY,56045.0,Weston County,56045,both
1226872,2023-01-27,2023-01-27,2022-09-01,2.1,WYWEST5URN,Weston,WY,56045.0,Weston County,56045,both
1226873,2023-01-27,2023-01-27,2022-10-01,2.2,WYWEST5URN,Weston,WY,56045.0,Weston County,56045,both
1226874,2023-01-27,2023-01-27,2022-11-01,2.1,WYWEST5URN,Weston,WY,56045.0,Weston County,56045,both

In [10]:
data

    ZIP_3   Latitude   Longitude   FIPS
0     005  40.810000  -73.040000  36103
1     006  18.300396  -66.791485  72141
2     007  18.179320  -66.071845  72025
3     008  18.141111  -64.855556   None
4     009  18.394138  -66.094914  72127
..    ...        ...         ...    ...
906   995  60.362319 -154.827826  02164
907   996  60.243256 -156.864651  02070
908   997  65.762025 -153.448608  02290
909   998  57.914667 -134.912000  02105
910   999  55.691667 -132.166667  02275

[911 rows x 4 columns]

In [ ]:
import pickle

# Specify the filename of the pickle file
pickle_file = 'zip3_fips_lookup_s3.pkl'

try:
    # Open the pickle file in binary read mode
    with open(pickle_file, 'rb') as file:
        # Load the data from the pickle file
        data = pickle.load(file)

    # Now 'data' contains the contents of the pickle file
    print("Data loaded successfully!")
    
    # You can use 'data' as needed
    # For example, you can print it to see its contents
    print(data)

except FileNotFoundError:
    print(f"Error: The file '{pickle_file}' was not found.")
except Exception as e:
    print(f"An error occurred: {e}")

In [5]:
data.FIPS.value_counts()

06037    17
11001     6
None      5
17031     5
36081     4
         ..
28089     1
28075     1
28035     1
28047     1
02275     1
Name: FIPS, Length: 729, dtype: int64